
header{
    width: 100%;
    height:auto;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    opacity: 0.8;
}

main{
    height: 100%;
    width: 100%;
    margin-bottom: 70px;
}
h1{
    text-align: center;
    color:white;
}

h2{
    width: auto;
    font-size: 15px;
    text-align: center
}

h3{
    font-size: 15px;
    text-align: center;
}

nav{
    width: 100%;
    height:auto;
    position:fixed;
    top:0;
    overflow: hidden;
    background-color: black;
    opacity: 0.8;
    z-index:1;
    font-family: 'Montserrat', sans-serif;
}

nav ul{
    width: 100%;
}

nav ul li a{
    width: 20%;
    float: left;
    color:white;
    text-decoration: none;
    font-size:12px ;
    text-align: center;
    height:auto;
    padding: 10px;

}

nav ul li a:hover{
    color: black;
    text-decoration: none;
    background-color: white;
    
}

nav ul div{
    width: 20%;
    height: auto;
    float:right;
    opacity: inherit;
}

#logomobel{
    width: 100%;
    height: 25px;
    margin-top: 5px;
    
}

/*pagina de entrada*/

.slideshow-container {
    width: 100%;
    height:100%;
    position: fixed;
}

.mySlides {
    display: none;
    height: 75%;
}

.mySlides img{
    width: 100%;
    height: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

/*inicio */

.nosotros{
    width: 90%;
    height: auto;
    margin: 5% 5%;
    position: relative;
}

.nosotros h2{
    text-align: left;
}

.nosotros img{
    width: 100%;
}

.nosotros div{
    width: 90%;
    height: 40%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size:10px;
    padding:5%;
    padding-top:2.5%;
    z-index:0;
     
}

.nosotros-variado{
    width: 100%;

}

.nosotros-variado img{
    width: 90%;
    margin: 1% 5%;
}

.listaempresas{
    width: auto;
    height: auto;
}

.listaempresas div{
    width: 50%;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    margin:0 auto;
}

/*.redessociales{
    width: 50%;
    height: auto;
    float: right;
    background-color: lightcoral;
    opacity:1;
}

#twitter{
    background-image: url("../img/twitter.png");
    width: 50px;
    height: 50px;
    border-radius: 50%;
  background-size:cover;
   background-color: lawngreen;
}

#insta{
    background-image: url("../img/instagram.png");
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
   background-color: lawngreen;
}

#imgnosotros{
    width: 95%;
    margin-bottom: 10px;
}*/

/*Pagina productos */

.separacion{
    width: 100%;
    height: 20px;
}
#botonesproductos{
    width: 85%;
    height: auto;
    background-color: black;
    padding: 5px 0;
    margin: 15px 7.5%;
}

#botonesproductos a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 7px;
    
}

#botonesproductos a:hover{
    text-decoration: none;
    background-color: #646b63;
}

#myBtn{
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 225px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(167, 167, 167); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 12px; /* Increase font size */
}


#myBtn2{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 115px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(167, 167, 167); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 12px; /* Increase font size */
}

#myBtn3{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgb(167, 167, 167); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 12px; /* Increase font size */
}

#myBtn img, #myBtn2 img, #myBtn3 img{
    width: 30px;
    height: auto
}

#myBtn:hover, #myBtn2:hover, #myBtn3:hover{
    background-color: #555; /* Add a dark-grey background on hover */
    
}
/*Pagina contacto*/

.direccion{
    background-color: black;
    width: 100%;
    height: auto;
    margin-top:15%;
    color: white;
    opacity: inherit;
    position:relative;
    z-index: 0;
    
}

.direccion ul li a{
    width:40%;
}

input{
    color: black;
}

input[type=text]{
    width:100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email] {
    width:100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea{
    width: 100%;
}
 
/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
  
/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-image: url("../img/unknown2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    position: relative;
    margin-top:20px;
    color: white;

}

#dondeestamos{
    width: 90%;
    margin: 5% 5%;
}

#dondeestamos div p{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
}

#dondeestamos iframe{
    width: 100%;
}

@media screen and (min-width:47em){

nav ul li a{
    font-size: 17px;
    padding:15px;
}
#logomobel{
    margin-top: 10px;
    
}

h2{
    font-size: 20px;
}

h3{
    font-size: 17px;
}
/*index*/

/*inicio*/
.nosotros{
    margin-top: 10%;
}
.nosotros h2{
    font-size: 20px;
}
.nosotros div{

    height: 20%;
    font-size: 17.5px;


}

.nosotros-variado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nosotros-variado img{
    width: 30%;
    margin: 1% auto;
}

.listaempresas div{
    margin-top:10px;
    font-size: 15px;
}

/*productos*/

#botonesproductos{
    padding: 10px 0;
}
#botonesproductos a{
    font-size: 15px;
    padding: 10px;
}


/*contacto*/

#divform{
    width:50%;
    margin:0 auto;
    float:right;
}

.container {
    width:85%;
    height:500px;
    border-radius: 5px;
    background-image: url("../img/unknown2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    position: relative;
    margin:0 auto;
    margin-top:20px;
    color: white;
}

}



@media screen and (min-width:60em){


/*index*/

/*inicio*/

nav ul li a{
    font-size: 17px;
    padding:20px;
}
#logomobel{

    margin-top: 15px;
    
}
.nosotros{
    margin-top: 10%;
}
.nosotros h2{
    font-size: 30px;
}
.nosotros div{

    height: 20%;
    font-size: 20px;


}

.nosotros-variado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nosotros-variado img{
    width: 30%;
    margin: 1% auto;
}

.listaempresas div{
    margin-top:10px;
    font-size: 15px;
}

}
/*productos*/
#botonesproductos{
    margin-top: 7%;
}
#botonesproductos a{
    font-size: 17px;
}
.oficina{
    width: 50%;
    float: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 30%;
    max-width: 100%;
    padding: 0 4px;
}
/*.oficina .column{
    flex: 50%;
    max-width: 100%;
}*/
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
/*contacto*/

@media screen and (min-width:1440px){
 
h2{
    font-size: 40px;
}   
/*index*/

/*inicio*/
nav ul li a{
    font-size: 20px;
    padding:15px;
}
#logo{
    width: 20%;
    height: 20px;
    float:right;
    opacity: 1;
}
#logomobel{
    margin-top: 12px;
}
.nosotros{
    margin-top: 5%;
}
.nosotros h2{
    font-size: 30px;
}
.nosotros div{
    height: 10%;
    font-size: 20px;
}

.nosotros-variado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nosotros-variado img{
    width: 30%;
    margin: 1% auto;
}

.listaempresas div{
    margin-top:10px;
    font-size: 15px;
}
/*productos*/



#botonesproductos{
    margin-top: 5%;
}

#botonesproductos a{
    font-size: 20px;
}


/*contacto*/
#direccion{
    margin-top: 4.5%;
}

}
@media screen and (min-width:2560px){
    
    h2{
        font-size: 50px;
    }

    nav ul li a{
        font-size: 45px;
        padding:45px;
    }
    #logo{
        width: 20%;
        height: 20px;
        float:right;
        opacity: 1;
    }
    .nosotros{
        margin-top: 5%;
    }
    .nosotros h2{
        font-size: 60px;
    }
    .nosotros div{
        height: 5%;
        font-size: 55px;
    }
    
    .nosotros-variado{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .nosotros-variado img{
        width: 30%;
        margin: 1% auto;
    }
    
    .listaempresas div{
        margin-top:10px;
        font-size: 40px;
    }

    /*productos*/
    #botonesproductos a{
        font-size: 25px;
    }
    
}




