
header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header{
    width: 50%;
    height: 50%;
    margin: 20px 0;
}
.header img{
    width: 75%;
    height: 100%;
}
.header2{
    width: 25%;
    height: 50%;
    margin: 20px 0; 
}
.header2 img{
    width: 100%;
    height: 100%;
}
footer{
    width: calc(100% - 20px);
    height: auto;
    background-color: black;
    opacity: 0.8;
    color: #ffffff;
    padding: 20px 0 20px 20px;
    margin-top: 20px;
    
}
main{
    width: auto;
    height: 100%;
}
h2{
    color:white;
}
.construccion{
    color: #000000;
    background-color: #ffffff;
    font-size: 50px;
    text-align: center;
}
.fabricamueble{
    background: url(../img/fabrica-4-sj-muebles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;

}
.copy{
    color: #000000;
    font-size: 17px;
    background-color: #ffffff;
    text-align: center;
}
h3{
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.topnav{
    width: 100%;
    height: auto;
    background-color: #F5874F;
    overflow: hidden;
    clear: left;
}
.topnav a{
    display: block;
    color:#ffffff;
    text-decoration: none;
    text-align: center; 
    padding: 10px 16px;
    float: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav a:hover{
    background-color: #b9935a4d;
    opacity: 0.5;
    text-decoration: none;
}
.topnav a.active{
    background-color: #ff691e;
}
.topnav .icon {
  display: none;
}

/*Entrada*/
.slideshow-container {
    width: 100%;
    height:100%;
    position: fixed;
    background-color: #000000;
    
}
.slideshow-container::after{
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.empezar{
    width: 25%;
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.empezar p{
    width: 100%;
    color: #ffffff;
    margin: 15px 0;
    font-size: 18px;
}
.empezar a{
    padding: 10px;
    border: none;
    text-decoration: none;
    background-color: #F5874F;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
}
.empezar:hover + .slideshow-container::after{
    background-color: #00000080;
}
.mySlides {
    display: none;
    height: 100%;
}
.mySlides img{
    width: 100%;
    height: 100%;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}
@-webkit-keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}

/*Inicio*/
.nosotros{
    background-color: #4b4a4a;
    width: 100%;
    height: auto;
    margin-top: 20px;
    line-height: 30px
}
.nosotros div{
    width: 85%;
    height: auto;
    color: white;
}
.nosotros div p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 25px 20px 25px;
}
.nosotros img{
    margin: 2.5% 7%;
    width: 85%;
    border: 3px solid  #ffff;
}
.mySlides2 {
    display: none;
}
.cursor {
    cursor: pointer;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    content: "";
    height: 10px;
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
}
.row2:after {
    content: "";
    display: table;
    clear: both;
}
.column2 {
    float: left;
    width: calc(30% - 5px);
    margin: 5px;
}
.column2 img{
    height: 100px;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
.nosotros-variado{
    background-color: #4b4a4a;
    width: 100%;
    height: auto;
    margin: 1.5% auto;
}
.nosotros-variado img{
    width: 85%;
    border: 2px solid #ffffff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin:1.5% 7.5% 0 7.5%;
}
.listaempre{
    width: 85%;
    text-align:center;
    color:white;
    background-color:#4b4a4a;
    padding: 10px;
    border-bottom-width: 10px;
    -webkit-border-radius: 10px 0px 0 100px;
    border-radius: 0 10px 100px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.listaempresas{
    background-color: #4b4a4a;
    width: auto;
    height: auto;
    margin: 0 auto;
    color: white;
    padding: 1.5%;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Trabajos*/
.tabcontent {
    display: none;
}
.zoom {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.zoom:hover {
    opacity: 0.7;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}
 #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
 @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
.miniature{
    height: 100%;
    background-color: #4b4a4a;
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 30vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow-x: scroll;
	height: auto;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
.galeria{
    grid-template-columns: repeat(6, 30vw);
}
.galeasientos{
    grid-template-columns: repeat(8, 30vw);
}
button{
    font-size: 17px;
}
.gallery::-webkit-scrollbar {
    -webkit-appearance: none;
}
.gallery::-webkit-scrollbar:vertical {
    width:10px;
}
.gallery::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
.gallery::-webkit-scrollbar:horizontal {
    height: 10px;
}
.gallery::-webkit-scrollbar-thumb {
    background-color: #F5874F;
    border-radius: 20px;
    border: 3px solid #848688;
}
.gallery::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.active {
	scroll-snap-type: unset;
}
li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
    width: 100%;
}
.gallery button{
    display: inline-block;
    width: 100%;
    height: 150px;
    border: none;
    text-decoration: none;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.all{
    color: #ffffff;
    background-color: #474849;
}
.all:hover{
     opacity: 0.5;
}
.techintvm{
    background: url(../img/techin-0.jpg);
}
.boca{
    background: url(../img/15.2.jpg);
}
.cesar{
    background: url(../img/cesar\ \(3\).jpeg);
}
.siderca{
    background: url(../img/siderca\ carlos\ pellegrini\ \(7\).jpg);
}
.directorio{
    background: url(../img/directorio\ \(8\).jpg);
}
.techintcba{
    background: url(../img/technit\ cordoba\ \(14\).jpg);
}
.leloir{
    background: url(../img/leloir\ \(5\).jpg);
}
.libertador{
    background: url(../img/libertador\ \(15\).jpg);
}
.bolivar{
    background: url(../img/bolivar\ \(1\).jpg);
}
.alain{
    background: url(../img/alberdi\ \(7\).jpg);
}
.bert{
    background: url(../img/kalciyan\ \(3\).jpg);
}
.former{
    background: url(../img/varios\ \(15\).jpg);
}
.bertani{
    background: url(../img/techint\ catalinas\ \(5\).jpg);
}
.bertaculo{
    background: url(../img/trenes2.jpeg);
}
.ejecutivas{
    background: url(../img/EJECUTIVAS/EJECUTIVAS.jpg);
}
.cajeras{
    background: url(../img/CAJERAS/CAJERAS.jpg);
}
.industriales{
    background: url(../img/INDUSTRIALES/INDUSTRIALES.jpg);
}
.operativas{
    background: url(../img/OPERATIVAS/OPERATIVAS.jpg);
}
.taburetes{
    background: url(../img/TABURETES/TABURETES.jpg);
}
.tandem{
    background: url(../img/TANDEM/TANDEM.jpg);
}
.variedad{
    background: url(../img/VISITA/VISITA.jpg);
}

.techintvm,
.boca, 
.cesar, 
.siderca, 
.directorio, 
.techintcba, 
.leloir, 
.libertador, 
.bolivar,
.alain,
.bert,
.former,
.bertani,
.bertaculo,
.ejecutivas,
.cajeras,
.industriales,
.operativas,
.taburetes,
.tandem,
.variedad{
    color: transparent;
}
.techintvm:hover, 
.boca:hover, 
.cesar:hover, 
.siderca:hover, 
.directorio:hover, 
.techintcba:hover, 
.leloir:hover, 
.libertador:hover, 
.bolivar:hover,
.alain:hover,
.bert:hover,
.former:hover,
.bertani:hover,
.bertaculo:hover,
.ejecutivas:hover,
.cajeras:hover,
.industriales:hover,
.operativas:hover,
.taburetes:hover,
.tandem:hover,
.variedad:hover{
    color: white;
    opacity: 0.5;
}
.miniature button:hover{
    cursor: pointer;
}
.tabcontentinterior {
    display: block;
    margin: 10px auto;
    border-top: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex: 30%;
    height: auto;    
}
.kl img{
    width: calc(100% - 30px);
    height: 250px;
    border: 2px solid #ffffff;
    margin: 15px 12px;
}
.tabcontent2 {
    display: none;
    width: calc(100% - 30px);
    background-color:#4b4a4a ;/*#848688*/
    padding: 0 15px;
    margin: 10px auto;
}
.scroll::-webkit-scrollbar{
    -webkit-appearance: none;
}
.scroll::-webkit-scrollbar-thumb{
    background: #474849;
    border-radius: 10px;
}
.content2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    align-items: center;
    align-content: space-around;
}
#myBtn, #myBtn3, #myBtn2{
    display: block; 
    position: fixed; 
    right: 10px; 
    z-index: 1;
    border: none; 
    outline: none; 
    background-color: #F5874F;
    color: #000000; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 15px;
}
#myBtn{
    bottom: 225px;
}
#myBtn3{
    bottom: 155px;
}
#myBtn2{
    bottom: 90px;
    font-size: 24px;
}

#myBtn img, #myBtn2 img, #myBtn3 img{
    width: 30px;
    height: auto;
    color:#ffffff;
}
#myBtn span, #myBtn3 span{
    display: none;
    color: white;
    font-size: 20px;
}
#myBtn:hover span, #myBtn3:hover span {
    display: block;
}
#myBtn:hover img, #myBtn3:hover img{
    display: none;
}
#myBtn:hover, #myBtn2:hover, #myBtn3:hover{
    background-color: #be6d44;
    color: #ffffff;
}
/*complementos*/

/*@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}*/
/*Contacto*/

.container {
    display: none;
    width:85%;
    height: 600px;
    border-radius: 0 0 5px 5px;
    position: relative;
    margin:20px auto;
    margin-top: -20px ;
    color: white;
    background-color: #4b4a4a;
}
.minimenu{
    width: 85%;
    height: auto;
    margin: 20px auto;
    font-size: 0;
}
.minimenu button{
    background-color: #F5874F;
    width: 50%;
    text-align: center;
    border: none;
    color: #ffffff;
    padding: 20px;
    font-size: 15px;
    /*transition: all .3s;*/
    transition: box-shadow .15s,transform .15s;
}

.minimenu button:active {
    color: #c44e13;
    box-shadow: #faa479 0 3px 7px inset;
    transform: translateY(2px);

}
.pop{
    width: 90%;
    margin: 0 auto;
}
.pop p{
    padding-top: 10px;
}
#divform{
    width:90%;
    margin: 10px auto;
}
input{
    color: black;
}
input[type=text]{
    width:100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=email] {
    width:100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}
textarea{
    width: 100%;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.ubi{
    height: 900px;
}
.ubi div h3{
    padding-top: 10px;
}
.ubi div p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.mapita{
    width: 90%;
    height: 75%;
    padding: 0 5%;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    /*.column {
      flex: 100%;
      max-width: 100%;
    }*/
}
@media screen and (min-width:47em){

    header{
        height: 90px;
    }
    .header{
        width: 25%;
        height: 55%;
    }
    /*Trabajos*/
    .kl img{
        width: calc(50% - 30px);
        height: 200px;
    }
    .li{
        font-size: 25px;
    }
}

@media screen and (min-width:60em){
    
    .header2{
        width: 20%;
        height: 50%;
    }
    /*Entrada*/
    .empezar p{
        font-size: 22px;
    }
    /*inicio*/
    .column2 {
        float: left;
        width: calc(19% - 4px);
        margin: 4px;
    }
    .column2 img{
        height: 200px;
    }
    .listaempre{
        font-size: 25px;
    }
    /*Trabajos*/
    .kl img{
        width: calc(33% - 30px);
        height: 300px;
    }
    button{
        font-size:25px;
    }
    /*Contacto*/
    .minimenu button{
        cursor: pointer;
    }
    #divform{
        width:50%;
        float:right;
        padding: 20px;
    }

}

@media screen and (min-width:1440px){
    .header2{
        width: 15%;
        height: 55%;
    }
    /*Trabajos*/
    .kl img{
        height: 400px;
    }
}

@media screen and (min-width:2560px){
   
}




