nav{
	background-color: blue
}
nav a{
	display: block;
	color: rgb(79, 221, 86);
	text-decoration: none;
	padding: 15px;
}
main{
	background-color: #000000;
	height: 100vh;
	
}
section{
	width: 75%;
	height: 400px;
	background-color: burlywood;
	margin: 0 10px;
}