.header{
    width: 100%;
    height: auto;
}
.header img{
    width: 30%;
    height: 30%;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    opacity: 0.8;
    color: #ffffff;

}
main{
    width: 100%;
    height: 100%;
}

h2{color:white;}


h3{
    font-size: 15px;
    text-align: center;
    
    font-size: 12px;
}

nav{
    width: 100%;
    height: auto;
    padding:20px 0;
    background-color: rgb(185, 147, 90);
    
}

nav a{
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}


nav a:hover{
    background-color: rgba(185, 147, 90, 0.3);
    opacity: 0.5;
    text-decoration: none;

}

/*Entrada*/
.slideshow-container {
    width: 100%;
    height:100%;
    position: fixed;
}

.mySlides {
    display: none;
    height: 85%;
}

.mySlides img{
    width: 100%;
    height: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

/*Inicio*/
.presentacion{
    width: 85%;
    font-size: 30px;
    text-align:center;
    color:white;
    background-color: rgb(63, 82, 159);
    padding: 5px;
    border: 2px solid  rgb(63, 82, 159);
    border-bottom-width: 10px;
    -webkit-border-radius: 0 10px 100px 0;
    border-radius: 0 10px 100px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 1.5% 0 0 2.5%;
}
.nosotros{
    background-color: rgba(52, 56, 55);
    width: 95%;
    height: auto;
    margin: 0 2.5%;
}
.nosotros div{

    height: auto;
    width: auto;
    padding: 10px 2%;
    color: white;
    font-size: 20px;
}
.nosotros img{
   padding: 2.5% 0 2.5% 25px;
   width: 85%;
}

.nosotros-variado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:  rgb(63, 82, 159);
    width: 95%;
    height: auto;
    margin: 1.5% 2.5%;
}

.nosotros-variado img{
    width: 85%;
    border: 7px solid rgba(144, 145, 149);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin:1.5%;


}
.listaempre{
    width: 85%;
    font-size: 20px;
    text-align:center;
    color:white;
    background-color: rgb(63, 82, 159);
    padding: 5px;
    border: 2px solid  rgb(63, 82, 159);
    border-bottom-width: 10px;
    -webkit-border-radius: 10px 0px 0 100px;
    border-radius: 10px 0 0 100px;
    margin: 0 0 0 31.6%;
   
}

.listaempresas{
    background-color:  rgb(63, 82, 159);
    width: auto;
    height: auto;
    margin: 0 2.5%;
    color: white;
    padding: 1.5%;
}


/*Productos*/
.circulo{
    content: "";
    background-color:rgba(63, 82, 159, 0.5) ;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: -1;

}
#cir{
    position: absolute;
    left:0%;
}
#cir2{
    position: absolute;
    right: 0;
}
.tablinks{
    background-color: #4b4a4a;
    border: none;
    color: #ffffff;
    padding: 5px;
    margin-top: 5px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 4px;
}
.column{
    flex: 30%;
    height: auto;
    padding: 0 4px;
    margin: 0 auto;
}
.kl img{
    width: 100%;
    height: 250px;
    margin-top: 8px;
   
}
.mop img{
    width: 80%;
    height: 250px;
    
}
#myBtn{
    display: block; 
    position: fixed; 
    bottom: 225px; 
    right: 10px; 
    z-index: 1;
    border: none; 
    outline: none; 
    background-color: #D49D4A; 
    color: black; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 12px; 
}


#myBtn2{
    display: block; 
    position: fixed; 
    bottom: 115px;
    right: 10px;
    z-index: 1; 
    border: none; 
    outline: none; 
    background-color: #9E7537;
    color: black; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 12px; 
}

#myBtn3{
    display: block; 
    position: fixed;
    bottom: 10px;
    right: 10px; 
    z-index: 1; 
    border: none; 
    outline: none;
    background-color:#946448; 
    color: black; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 12px;
}
#myBtn{
        
    padding: 15px; 

}
#myBtn img, #myBtn2 img, #myBtn3 img{
    width: 30px;
    height: auto
}
#myBtn span, #myBtn2 span, #myBtn3 span{
    display: none;
    color: white;
    font-size: 20px;
}
#myBtn:hover span, #myBtn2:hover span, #myBtn3:hover span {
    display: block;
}
#myBtn:hover img, #myBtn2:hover img, #myBtn3:hover img{
    display: none;
}

#myBtn:hover, #myBtn2:hover, #myBtn3:hover{
    background-color: #9E7537;
}
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}
/*Contacto*/
.direccion{
    background-color:#4b4a4a;
    width: 100%;
    color: white;
    opacity: inherit;
    position:relative;
  

}

.direccion a{
    width:40%;
    padding: 0 10%;
}

.container {
    width:85%;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    margin:20px auto;
    color: white;
    background-color: #4b4a4a;

}

.container h2{
    background-color:  rgb(63, 82, 159);
    padding: 20px;
    margin:-20px 0 20px -20px;
    width: 48%;
    text-align: center;
}
.pop{
    width: 100%;
}
#divform{
    width:100%;
    margin-top:25px ;
}

input{
    color: black;
}

input[type=text]{
    width:100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=email] {
    width:100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}

textarea{
    width: 100%;
}
 

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  

input[type=submit]:hover {
    background-color: #45a049;
}
  

#dondeestamos{
    width: 90%;
    margin: 5% 5%;
}

#dondeestamos div p{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
}

#dondeestamos iframe{
    width: 100%;
}


@media screen and (max-width: 800px) {


}

@media screen and (min-width:47em){
 
    nav a{
     
        font-size: 25px;

    }

 /*inicio*/
    .nosotros div{
        font-size: 23px;
    }

    .listaempresas {
        font-size:20px ;
    }

    /*Contacto*/
  

}

@media screen and (min-width:60em){
    
    nav a{
     
        font-size: 27px;

    }

 /*inicio*/
    .presentacion{
        width: 65%;
        font-size: 40px;
    }

    .nosotros div{
        font-size: 30px;
    }
    .listaempre{
        font-size: 25px;
    }
    .listaempresas {
        font-size:25px ;
    }

}

@media screen and (min-width:1440px){

    nav a{
    
        font-size: 20px;

    }

    /*Entrada*/
    .slideshow-container {
        width: 100%;
        height:100%;
        position: fixed;
    }
    
    .mySlides {
        display: none;
        height: 85%;
    }
    
    .mySlides img{
        width: 100%;
        height: 100%;
    }
    
    /*Inicio*/
    .presentacion{
        width: 65%;
        font-size: 35px;
    }
    .nosotros div{
        float:left;
        width: 45%;
        font-size: 20px;
    }
    .nosotros img{
       width: 45%;
    }
    
    .nosotros-variado img{
    
        width: 42.5%;
      
    }   
    .listaempre{
        width: 65%;
        font-size: 30px;
    }
    .listaempresas{
      font-size: 15px;
    }
    /*Productos*/
    .circulo{
        content: "";
        background-color:rgba(63, 82, 159, 0.5) ;
        width: 400px;
        height: 400px;
        border-radius: 100%;
        z-index: -1;
    
    }
    #cir{
        position: absolute;
        left:0%;
    }
    #cir2{
        position: absolute;
        right: 0;
    }
    .tablinks{
        background-color: #4b4a4a;
        border: none;
        color: #ffffff;
        padding: 5px;
        margin-top: 5px;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .column{
        width: 30%;
        height: auto;
    }
    .kl img{
        width: 100%;
        height: 300px;
    }
    .mop img{
        width: 100%;
        height: 400px;
    }
    #myBtn{
        display: block; 
        position: fixed; 
        bottom: 225px; 
        right: 10px; 
        z-index: 1;
        border: none; 
        outline: none; 
        background-color: #D49D4A; 
        color: black; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 12px; 
    }
    
    
    #myBtn2{
        display: block; 
        position: fixed; 
        bottom: 115px;
        right: 10px;
        z-index: 1; 
        border: none; 
        outline: none; 
        background-color: #9E7537;
        color: black; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 12px; 
    }
    
    #myBtn3{
        display: block; 
        position: fixed;
        bottom: 10px;
        right: 10px; 
        z-index: 1; 
        border: none; 
        outline: none;
        background-color:#946448; 
        color: black; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px; 
        font-size: 12px;
    }
    #myBtn{
            
        padding: 15px; 
    
    }
    #myBtn img, #myBtn2 img, #myBtn3 img{
        width: 30px;
        height: auto
    }
    #myBtn span, #myBtn2 span, #myBtn3 span{
        display: none;
        color: white;
        font-size: 20px;
    }
    #myBtn:hover span, #myBtn2:hover span, #myBtn3:hover span {
        display: block;
    }
    #myBtn:hover img, #myBtn2:hover img, #myBtn3:hover img{
        display: none;
    }
    
    #myBtn:hover, #myBtn2:hover, #myBtn3:hover{
        background-color: #9E7537;
    }
    
    /*Contacto*/
    .direccion{
        background-color:#4b4a4a;
        width: 90%;
        height: auto;
        color: white;
        opacity: inherit;
        position:relative;
        padding: 0 5%;
    
    }
    
    .direccion a{
        width:40%;
    
    }
    
    .container {
        width:85%;
        height:520px;
        border-radius: 5px;
        /*background-image: url("../img/unknown2.png");
        background-repeat: no-repeat;
        background-size: cover;*/
        padding: 20px;
        position: relative;
        margin:20px auto;
    
        color: white;
        background-color: #4b4a4a;
    
    }
    
    .container h2{
        background-color:  rgb(63, 82, 159);
        padding: 20px;
        margin:-20px 0 20px -20px;
        width: 48%;
        text-align: center;
    }
    
    #divform{
        width:50%;
        margin:0 auto;
        margin-top: -20px;
        float:right;
    }
    
    input{
        color: black;
    }
    
    input[type=text]{
        width:100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical;
    }
    
    input[type=email] {
        width:100%; 
        padding: 12px; 
        border: 1px solid #ccc;
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px;
        margin-bottom: 16px; 
        resize: vertical;
    }
    
    textarea{
        width: 100%;
    }
     
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
      
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
      
    
    #dondeestamos{
        width: 90%;
        margin: 5% 5%;
    }
    
    #dondeestamos div p{
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
        font-size: 20px;
    }
    
    #dondeestamos iframe{
        width: 100%;
    }
    
}

@media screen and (min-width:2560px){
    

}




